/* CSS pour la page home */
#header{
    display:flex;
    width: 100%;
    height: 100px;

}

/* Logo */
#logo-container {
    width:80%;
    display: flex;
    align-items: center;
    justify-content: left;
}
/* Logo */
#logo {

    width: 300px;

}

/* Barre d'onglets */
.tab-bar {
    background-color: #398297;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    height: 40px; /* Deux fois la hauteur souhaitée */
}

.tab-bar li {
    margin-right: 80px; /* Espacement entre les liens */
}

.tab-bar li a {
    color: white;
    text-decoration: none;
    line-height: 40px; /* Hauteur de la barre d'onglets */
    font-weight: bold; /* Texte en gras */
}

/* Texte d'introduction */
#introduction {
    display: flex;
    flex-direction: row;
}

#text {
    width: 50%;
}

#text h1 {
    text-align: center; /* Centrer le texte "We care." */
    color: #398297; /* Texte en bleu */
}

#text h2 {
    text-align: center; /* Centrer le texte "We have a solution for you." */
    color: #398297; /* Texte en bleu */
}

/* Image du docteur */
#doctor-image {
    width: 50%;
    margin-left: 20px;
}

/* Barre de recherche */
#search-container {


    width: 20%;
    margin-right: 30px;
    display: flex;

    align-items: center;
    justify-content: right;
}

#search-bar-container {
    display: flex;
    align-items: center;
}

#search-bar {
    border: 1px solid #398297; /* Couleur des traits de la barre de recherche */
    padding: 5px;
}

#search-button {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

/* Liens "Questions? Contact us" */
#contact-links {
    text-align: right;
    margin-right: 50px;
}
#contact-link {
    color: #398297; /* Couleur du lien */
    text-decoration: none;
}